---
import MainGridLayout from '../layouts/MainGridLayout.astro'
---

<MainGridLayout title="" description="">
    <div class="other-list">
        <ul>
            <li>
                <i class="fa-solid fa-link"></i>
            </li>
        </ul>
    </div>
</MainGridLayout>
